<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
  <link href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .custom-file-input {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title text-center">Image Upload Temporary</h5>
            <p class="card-description text-center">The Image deleted after 3 day</p>
            <form action="/upload/<%= field %>" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <input type="file" class="form-control custom-file-input" name="file" id="file" required accept="image/*">
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>
            <br>
            <div class="dropdown">
              <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Server
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?id=poolsatu">Asia Pacific (APAC) 1</a></li>
                <li><a class="dropdown-item" href="?id=pooldua">Asia Pacific (APAC) 2</a></li>
                <li><a class="dropdown-item" href="?id=enamsatu">Eastern North America (ENAM) 1</a></li>
                <li><a onclick="prems()" class="dropdown-item" href="#">Premium</a></li>
              </ul>
            </div>
            <p style="margin-top: 10px;">Selected: <%= field %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center justify-content-center" style="padding-top: 10px;">
  <code>Server Hosted With 💖 By aisbircube<br>Keep Your Link Safe!</code></div>
  <script>
    function prems() {
      swal("Sorry", "U need bought premium tier from aisbircubes, Premium give 7 day file remove and 14 day file remove");
    }
  </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
